.cell {
  position: relative;
}

.offended {
  background-color: cadetblue;
}

.square {
  width: 30px;
  height: 30px;
}

.cross {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
